<style>
    .custom {
        max-width: 50%;
        height: 100%;
    }

    .img-container {
        overflow: hidden;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
    }

    .img-container:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
<div class="container-fluid">
    <div class="row">
        {{#each prefeitos as |pref key|}}
            <div class="col-3">
                <div class="card img-thumbnail text-center" style="margin: 5px">
                    <div class="card-head img-container shadow-sm p-3 mb-5 bg-white rounded">
                        <img class="card-img-top custom border"
                            src="https://resultados.tse.jus.br/oficial/ele2020/divulgacao/oficial/426/fotos/pr/{{sqcand}}.jpeg"
                            alt="{{nm}}">
                    </div>
                    <div class="card-body">
                        <fieldset class="border">
                            <p class="card-text"><strong>Nome:</strong> {{nm}}</p>
                            <p class="card-text"><strong>Votos:</strong> {{vap}}</p>
                            <p class="card-text"><strong>Percentual:</strong> {{pvap}}%</p>
                        </fieldset>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    <hr>
    <div class="row" style="margin-left: 20px;">
        <div class="col-3"></div>
        <div class="col">
            <div class="card bg-light mb-3">
                <div class="card-header text-center" style="font-family: 'Times New Roman', Helvetica, sans-serif; font-weight: bold; font-size: 30px;">Brancos e Nulos</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="text-center h4"><strong>Prefeito</strong></p>
                            <hr>
                            <fieldset class="border">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><strong>Brancos:</strong> {{brancosNulosPrefeito.vb}}</p>
                                        <p class="card-text"><strong>Nulos:</strong> {{brancosNulosPrefeito.vn}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text"><strong>Percentual:</strong> {{brancosNulosPrefeito.pvb}}%</p>
                                        <p class="card-text"><strong>Percentual:</strong> {{brancosNulosPrefeito.pvn}}%</p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <p class="text-center h4"><strong>Vereador</strong></p>
                            <hr>
                            <fieldset class="border">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><strong>Brancos:</strong> {{brancosNulosVereador.vb}}</p>
                                        <p class="card-text"><strong>Nulos:</strong> {{brancosNulosVereador.vn}}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text"><strong>Percentual:</strong> {{brancosNulosVereador.pvb}}%</p>
                                        <p class="card-text"><strong>Percentual:</strong> {{brancosNulosVereador.pvn}}%</p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-3"></div>   
    </div>
    <div class="row">
        <div class="col mt-5">
            <table id="vereadores" class="table table-bordered text-center" style="background-color: white;">
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Coligações</th>
                    <th>Votos</th>
                    <th>Percentual</th>
                    <th>Eleito</th>
                </thead>
                <tbody>
                    {{#each vereadores}}
                        <tr>
                            <td class="img-container"><img class="card-img-top img-thumbnail" style="width: 70px; height: auto;" src="https://resultados.tse.jus.br/oficial/ele2020/divulgacao/oficial/426/fotos/pr/{{sqcand}}.jpeg" alt="{{nm}}"></td>
                            <td>{{nm}}</td>
                            <td>{{cc}}</td>
                            <td>{{vap}}</td>
                            <td>{{pvap}}%</td>
                            <td>{{#compare cc '=' s}} Sim {{else}} Não {{/compare}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(this).scrollTop(45);

    });
    $('#vereadores').DataTable({
        "scrollCollapse": true
    });

</script>